$primary-font-color: #fff;
$secondary-font-color: #253757;
$expensive-font-color: #6C788B;

$background-color: #E5E5E5;
$primary-background-color: #2C2C2C;
$expensive-background-color: #6C788B;
$secondary-background-color: #008AFF;

$primary-button-color: #2060F6;
$secondary-button-color: #FF9C8E;


$decoration-color-one: #56CCF2;
$decoration-color-two: #FCC304;
$decoration-color-three: #F25656;
$decoration-color-four: #15D850;
$decoration-color-five: #2060F6

