.navigation__style-font {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 16px;
	color: #C0CDD7;
}

.title__style-font {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 32px;
	color: $secondary-font-color;
}